.addWorkout * {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
/**/

.addWorkout label {
    outline: black 1px;
    color: #D77A61;
    font-size: 25px;
    
}


.space {
    width: 7px;
    height: auto;
    display: inline-block;
}


.buttons {
    justify-content: space-between;
}

.addWorkout input {
    border-style: solid;
    border-spacing: 10px;
    padding: 10px;
    border-color: black;
  
}

.addWorkout input:focus {
    border-color: #D77A61;
    border-style: solid;
    border-spacing: 10px;
    padding: 10px;
    
}

.titleBox {
    margin-top: none;
    justify-content: space-around;
    align-content: flex-end;
}

.titleBox input[type=text], textarea{
    background-color: lightgray;
    border: 1px solid #ccc;
    width: 94%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    color: black;
  }

.descriptionBox {
    display:inline;
    justify-content: space-evenly;
    align-content: center;
}

.descriptionBox input[type=text], textarea{
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    height: 100px;
    color: black;
  }

::placeholder{
    color:black;
}

.instruction {
    align-self: center;
    background-color: lightgray;
    color: black;
    width:38%;
    border-radius:5px;
  }

.unit {
    align-self: center;
    background-color: lightgray;
    color: black;
    width:38%;
    border-radius:5px;
  }


.step-instruction{
    width:38%;
    margin:3.8px;
    border-radius:5px;
}

.step-unit{
    width:38%;
    margin:3.8px;
    border-radius:5px;
}


.alignBox {
    padding-top: none;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(27, 41, 51);
    border-radius: 30px;
    width: 45%;
    background-color:rgb(44, 55, 62);
    padding-bottom:30px;
}

.tag{
    margin-top:10px;
    margin-bottom:10px;
}
.Btn, .BtnAdd {
    background: #D77A61;
    border: 1.5px solid #D77A61;
    border-radius: 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin:4px;
}

.Btn:hover,
.Btn:active, .BtnAdd:hover, .BtnAdd:active {
    background-color: white;
    background-position: 0 0;
    color: #D77A61;
}

.Btn:active, .BtnAdd:active {
    opacity: .5;
}

.BtnAdd {
   padding-left: 43px;
   padding-right: 43px;
   margin-right: -0.5px;
}

@media (max-width: 1213px) {
    .alignBox{
        width:70%;
    }
}

.workoutType{
    
}

.addWorkout__added-space {
    padding-bottom: 10vh;
}