

.welcomeMessage{
    color: #D77A61;
    display:flex;
    justify-content: center;
    align-items: baseline;
    font-weight: bolder;
}

.wave {
    display: inline-block;
    animation: wave 500ms infinite ease-in-out;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0);
    }
}
  
  .typing {
    padding-left: 0.5ch;
    width: 22ch;
    animation: typing 3.5s steps(30, end), blink .8s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 30px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .addWorkoutBtn {
    padding: 5px;
    padding-left: 95px;
    padding-right: 95px;
    border-radius: 5px;
    background-color: #D77A61;
    color: #fff;
    transition:transform 200ms cubic-bezier(0,0,0,0);
    font-family: "Montserrat";
    border-color: #fff;
    box-shadow: none;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .addWorkoutBtn:hover {
    transform: translateY(2px);
    border-radius: 10px;
    background-color: #fff;
    color: #D77A61;
    border-color: #D77A61;
    transition:transform 800ms cubic-bezier(.3,.7,.4,1.5);
    box-shadow: none;
  }

  .addWorkoutBtn:active {
    background-color: rgb(211, 211, 211);
    border-color: #bb6c56;
  }

  .addWorkoutBtn, .welcomeMessage {
    font-size: 30px;
  }

  .addWorkoutBtn::after {
    border-color: #fff;
    background-color: transparent;
  }

  .addWorkoutBtn {
    animation: bouncy 5s infinite linear;
    position: relative;
  }

    @keyframes bouncy {
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.5em}
      46%{top:0em}
      48%{top:-0.2em}
      50%{top:0em}
      100%{top:0em;}
    }

  .name {
    color: #D77A61;
    font-family: "Montserrat";
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .name::after {
    opacity: 100%;
  }

  .welcome {
    color: #fff;
    font-family: "Montserrat";
    margin-bottom: -15px;
  }