

.welcomeMessage{
    color: #D77A61;
    display:flex;
    justify-content: center;
    align-items: baseline;
    font-weight: bolder;
}

.wave {
    display: inline-block;
    animation: wave 500ms infinite ease-in-out;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0);
    }
}
  
  .typing {
    padding-left: 0.5ch;
    width: 22ch;
    animation: typing 3.5s steps(30, end), blink .8s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 30px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .addWorkoutBtn {
    padding: 5px;
    border-radius: 10px;
    background-color: #D77A61;
    color: black;
    box-shadow: 10px 10px 0px 0px;
    transition:transform 200ms cubic-bezier(0,0,0,0);
  }

  .addWorkoutBtn:hover {
    transform: translateY(2px);
    box-shadow: 10px 8px 0px 0px;
    border-radius: 10px;
    background-color: blanchedalmond;
    color: black;
    transition:transform 800ms cubic-bezier(.3,.7,.4,1.5);
  }

  .addWorkoutBtn, .welcomeMessage {
    font-size: 30px;
  }