.container {
	height: 100vh;
	width: 100%;
	background-color: #223843;
}

.workout {
  	border: 5px solid black;
  	margin: 10px;
	margin-top: 30px;
	width: 600px;
	box-shadow: 0 4px 8px 0 black;
	background-color: #DBD3D8;
	color: #000000;
}

.loading {
    padding: 25vh;
    text-align: center;
}

.h1 {
	font-size: 15;
	color: #000000;
}

.load--phrase {
	color: white;
	font-family: "Raleway";
}

a:hover {
	color: gray;
}

a {
	color: #222;
	text-decoration: none;
}

.preview-workouts {
	margin-top: 28.5vh;
	clip-path: ellipse(170% 100% at 50% 100%);
	padding-top: 20vh;
	padding-bottom: 10vh;
	background-color: #222222;
}

.welcome-screen {
	padding: 0;
	margin: 0;
}

.welcome-screen h1{
	display: flex;
	padding-bottom: 0;
	text-align: left;
	margin-bottom: 0;
	color: #fff;
	font-family: Montserrat;
	font-size: 6vh;
	width: 120vh;
	word-wrap: break-word;
	padding-left:194px;
}

.welcome-screen h2{
	display: flex;
	padding-bottom: 0;
	text-align: left;
	margin-bottom: 0;
	color: #fff;
	font-family: Raleway;
	font-size: 3vh;
	width: 65vh;
	word-wrap: break-word;
	padding-left:194px;
	padding-bottom: 0%;
	margin-bottom: 0%;
}

.gif {
	right: 100px;
	justify-content: center;
	align-content: center;
	padding-top: 15vh;
	padding-bottom: 0;
	margin: 0;
	width:20vh;
}

.gif2 {
	padding-top: 170px;
	padding-right: 186px;
	overflow: visible;
	float: right;
	width:20vh;
}

@media (max-width: 1213px) {
	.welcome-screen h1 {
		align-items: center;
		width: 60vw;
		/*font-size: 6vw;*/
		text-align: center;
	}

	.welcome-screen h2 {
		align-items: center;
		width: 60vw;
		text-align: center;
	}
}