body{
    margin: 0px;
}

nav {
    top: 0%;
    height: 70px;
    display: flex;
    padding: 3px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    background-color: #453A49;
    position: fixed; 
    overflow: hidden;
    width: 97%;
    margin-right: 100px;
  }
  
  .nav--list * {
    list-style: none;
    display: inline;
    margin: 7px;
    font-size: 20px;
    letter-spacing: -.05em;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
  }

  a:link, a:visited, a:active
  {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #a8a8a8;
    text-decoration: none;
  }


  
  .nav--logo_text {
    margin-right: auto;
    padding-left: 10px;
    color: #ffffff;
  }

  .nav--logo_text  a:hover{
    color: #ffffff;
    text-decoration: none;
  }

  .nav--logo a:hover{
    text-decoration: none;
  }

  .nav--logo{
    margin-top: -5px;
    margin-right: -100px;
    padding-left: 10px;
    display: inline;
    width: 80px;
  }

  .sign--up {
    background-color: darkgreen;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }

  .sign--up a:hover{
    text-decoration: none;
    color: #ffffff;
  }