.entireWorkout{
        border: 5px solid black;
        margin: 10px;
        margin-top: 30px;
        width: 600px;
        box-shadow: 0 4px 8px 0 black;
        background-color: #DBD3D8;
        color: #000000; 
}

.workoutTitle{
    text-decoration: underline;
}