@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
    background-color: #213742;
    padding-top: 50px;
    font-family: "Roboto", sans-serif;
    height: 1000px;
    width: 100%;
    overflow-x: hidden;
}

