@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


body {
    background-color: #223843;
    padding-top: 90px;
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

*{
    animation: loadingtransition 200ms ease-in;
}

@keyframes  loadingtransition{

from{
    opacity: 0;
    transform: rotateY(-50deg);
}
to{
    opacity: 1;
    transform: rotateY(0);
}

}
