body {
  margin: 0px;
}

nav {
  top: 0%;
  height: 70px;
  display: flex;
  padding: 3px 36px;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(255, 255, 255, 0.088);
  background-color: #222;
  position: fixed;
  overflow: hidden;
  width: 97%;
  margin-right: 100px;
  font-family: "Raleway";
  font-weight: 100;
  font-weight: bolder;
  z-index: 9999;
}

nav h2 .nav--logo_text {
  font-family: "Raleway";
}

.nav--list * {
  list-style: none;
  display: inline;
  margin: 7px;
  font-size: 20px;
  letter-spacing: -.05em;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Raleway";
}

.nav--list {
  margin-right: 167px;
  font-family: "Raleway";
}

.nav--logo_text {
  margin-right: auto;
  padding-left: 10px;
  color: #ffffff;
}

.nav--logo_text a:hover {
  color: #ffffff;
  text-decoration: none;
}

.nav--logo a:hover {
  text-decoration: none;
}

.nav--logo {
  margin-right: -100px;
  padding-left: 10px;
  display: inline;
  width: 80px;
}

.sign--up {
  background-color: #D77A61;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}


nav a:link,
nav a:visited,
nav a:active {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #a8a8a8;
  text-decoration: none;
}

nav a:hover .sign--up {
  background-color: #9b5946;
}

nav a:hover .login {
  color: #D77A61;
}

.nav--logo {
  margin-left: 150px;
}

.nav--logo_text {
  margin-left: 10px;
  font-size: 170%;
}

/*HAMBURGER MENU*/

.mav-toggle {
  display: none;
}

nav .icon-burger{
  display: none;
  padding-right: 30px;
  top: 20px;
  cursor: pointer;
}

nav .icon-burger .line{
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}

@media (max-width: 1220px) {

  nav .icon-burger{
    display: inline-block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(585deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-585deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: #222;
    right: 0;
    /*left: 0;*/
    text-align: center;
    padding: 16px 0;
    margin-top:38px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .menu {
    display: grid;
    position: fixed;
    overflow: hidden
  }

  nav input[type=checkbox]:checked~.menu {
    display: inline-block;
  }

  .nav--logo {
    margin-left: -10px;
  }

  .nav--logo_text {
    margin-left: -10px;
  }

  /*.menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
    margin-right: -150px;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: red;
  }
  */
}

.menu .active {
  color: #D77A61;
}

.menu .activeSign {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #223843;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.menu .inactiveSign {
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  background-color: #D77A61;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #FFF;
}

.menu .inactiveSign:active {
  background-color: #9b5946;
}

.menu .inactiveSign:hover {
  border-radius: 0px;
}

.menu .sign-out {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #D77A61;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #FFF;
}

.menu .sign-out:active {
  background-color: #9b5946;
}

.menu .inactive:active {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  color: #D77A61;
}

.menu .sign-out:hover {
  border-radius: 10px;
}

.searchBox {
  margin-right: 800px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  border-style: hidden;
  background-color: #223843;
}

nav .searchBox input:focus {
  outline-color: #d77a61;
  outline-style: solid;
  outline-width: 2.3px;
}
