.login {
  /*height: 80vh;*/
  /*height: 102.5vh;*/
  height: 810px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d8d3d8;
  padding: 30px;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-style: hidden;
}

.log input:focus {
  outline-color: #d77a61;
  outline-style: solid;
  outline-width: 2.3px;
}

.login__btn, .login__btn__disabled, .login__btn__half__disabled{
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border-width: 2px;
  border-color: #222;
  color: white;
  background-color: #222;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.login__btn:hover{
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border-width: 2px;
  border-color: #222;
  color: #222;
  background-color: white;
  transition: background-color 0.3s;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 4px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #222222;
  transition: 10ms;
}

.log--pic {
  width: 130px;
  margin-bottom: -250px;
  margin-top: 130px;
  margin-right: -20px;
}

.log--subtitle {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 260px;
  margin-bottom: -200px;
  color: #ffffff;
  font-size: 15px;
  justify-content: center;
}

.log--title {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
  padding-bottom: 0px;
  margin-bottom: -270px;
  color: white;
  font-weight: bold;
  font-family: "Raleway";
  font-weight: 900;
}

.log label {
  text-align: left;
  padding-bottom: 3px;
  visibility: hidden;
  transition:visibility 0.3s ease-out;
}

.login__container label {
  padding-bottom: 2px;
}

.emailLabel, .passwordLabel {
  float: right;
  margin-top: -30px;
  padding-left: 35px;
  padding-top: 7px;
  font-size: 110%;
}

.login__container input:not(:placeholder-shown) ~.emailLabel{
  visibility: visible;
}

.login__container input:not(:placeholder-shown) ~.passwordLabel{
  visibility: visible;
}

.login__container input {
  margin-left: -52.5px;
  margin-right: -52.5px;
}

input:focus ~.emailLabel {
  color: #d77a61;
}

input:focus ~.passwordLabel {
  color: #d77a61;
}

.words--before-log {
  margin-top: -20.5vh;
}

.signup--words {
  top: 0%;
  color: #d8d3d8;
  float: right;
  margin-right: 1%;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}

.signup {
  top: 0% !important;
  font-weight: 600;
  font-size: 90%;
  float: right;
  color: white;
  margin-right: 1%;
  padding: 10px 15px;
  background-color: #d77a61;
  border-radius: 7px;
  vertical-align: middle;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.signup:hover {
  color: white;
  background-color: #9b5946;
}

.home {
  top: 0%;
  font-size: 90%;
  font-weight: 600;
  float: left;
  color: white;
  margin-left: 1%;
  padding: 10px 15px;
  background-color: #d77a61;
  border-radius: 7px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.home:hover {
  color: white;
  background-color: #9b5946;
}

.signup:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #a8a8a894;
  border-radius: 0px;
}

.signup:active {
  -webkit-transition-duration: 0s; /* Safari */
  transition-duration: 0s;
  outline-color: #d77a61;
  outline-style: solid;
  outline-width: 2.3px;
}

.home:active {
  -webkit-transition-duration: 0s; /* Safari */
  transition-duration: 0s;
  outline-color: #a8a8a894;
  outline-style: solid;
  outline-width: 2.3px;
}

.log .copyright {
  color: #ffffff;
  margin-top: -240px;
  font-size: x-small;
}

.login__btn__disabled {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 55%;
}

.login__btn__half__disabled{
  cursor: not-allowed;
  pointer-events: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 75%;
}