.log--title {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
  padding-bottom: 0px;
  margin-bottom: -270px;
  color: white;
  font-weight: bold;
  font-family: Raleway;
  font-weight: 900;
}

.reg--pic {
  /*width: 15vh;*/
  width: 130px;
  margin-bottom: -250px;
}

.register {
  /*height: 110vh;*/
  height: 905px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d8d3d8;
  padding: 30px;
  border-top: 6px solid #D77A61;
  border-radius: 5px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-style: hidden;
}

.register__btn, .reg__btn__disabled, .reg__btn__2nd__disabled, .reg__btn__3rd__disabled {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-width: 2px;
  border-color: #222;
  color: white;
  background-color: #222;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.register__btn:hover{
  border-width: 2px;
  border-color: #222;
  color: #222;
  background-color: white;
  transition: background-color 0.3s;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}

.log--subtitle {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 260px;
  margin-bottom: -250px;
  color: #ffffff;
  font-size: 15px;
  justify-content: center;
}

.link {
  color: #d77161;
}

a:hover .link {
  color: #9b5946;
}

label {
  text-align: left;
}

.register input:focus {
  outline-color: #d77a61;
  outline-style: solid;
  outline-width: 2.3px;
}

.register__container label {
  padding-bottom: 2px;
}

.reg .copyright {
  color: #ffffff;
  margin-top: 30px;
  font-size: 12px;
  bottom: 0;
}

::placeholder {
  color: rgba(128, 128, 128, 0.716)
}

.register__btn__disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 75%;
}

.reg__btn__disabled {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 55%;
}

.reg__btn__2nd__disabled{
  cursor: not-allowed;
  pointer-events: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 70%;
}

.reg__btn__3rd__disabled{
  cursor: not-allowed;
  pointer-events: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  opacity: 85%;
}

.reg .buttons {
  margin-top: -242px;
  margin-left: auto;
  margin-right: auto;
}

.emailRegLabel, .passwordRegLabel, .fullNameLabel {
  float: right;
  margin-top: -30px;
  padding-left: 35px;
  padding-top: 7px;
  font-size: 110%;
}

.register__container input {
  margin-left: -52.5px;
  margin-right: -52.5px;
}

input:focus ~.fullNameLabel {
  color: #d77a61;
}

input:focus ~.passwordRegLabel {
  color: #d77a61;
}

input:focus ~.emailRegLabel {
  color: #d77a61;
}

.reg label {
  visibility: hidden;
  transition: visibility 0.3s ease-out;
}

.register__container input:not(:placeholder-shown) ~.fullNameLabel{
  visibility: visible;
}

.register__container input:not(:placeholder-shown) ~.emailRegLabel{
  visibility: visible;
}

.register__container input:not(:placeholder-shown) ~.passwordRegLabel{
  visibility: visible;
}

.reg .signup {
  padding-left: 55px;
  padding-right: 55px;
  margin-right: 0px;
}

.reg .home {
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 1%;
}

.reg .buttons {
  padding-top: 4px;
  justify-content: center;
  align-items: center;
}